@import './reset.scss';
@import './variables/global.scss';
@import './themes/normal.scss';
@import './themes/dark.scss';

body {
	font: var(--font-m);
	color: var(--primary-color);
	background: var(--bg-color);
}
.app {
	min-height: 100vh;
}
.app-container {
	display: flex;
}
.page-wrapper {
	padding: 20px;
	flex-grow: 1;
}
