.Sidebar {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 20px 0;
	height: calc(100vh - var(--navbar-height));
	width: 100%;
	max-width: var(--sidebar-width);

	background: var(--inverted-bg-color);
	color: var(--inverted-primary-color);

	position: relative;
	//transition: max-width 0.4s;
}
.links {
	display: flex;
	gap: 20px;
	flex-direction: column;
}
.link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	flex-wrap: wrap;
	span {
		display: none;
	}
	.icon {
		display: flex;
	}
	svg {
		width: 30px;
		height: 30px;
		fill: var(--inverted-primary-color);
	}
}
.collapsed {
	width: 100%;
	max-width: var(--sidebar-width-collapsed);
	span {
		display: flex;
	}
}
.switchers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;

	position: absolute;
	bottom: 20px;
}

.collapseBtn {
	border: none;
	position: absolute;
	bottom: 20px;
	right: -70px;
}
