.Navbar {
	width: 100%;
	//height: var(--navbar-height);
	display: flex;
	align-items: center;
	padding: 20px;

	background: var(--inverted-bg-color);
	color: var(--inverted-primary-color);
}

.links {
	margin-left: auto;
	display: flex;
	column-gap: 20px;
}
