.Modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: -1;
	pointer-events: none;
}
.overlay {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--overlay-color);
}
.content {
	padding: 20px;
	background: var(--bg-color);
	color: var(--primary-color);
	border-radius: 10px;
	max-width: 50%;
	transform: scale(0.3);
	transition: 0.3s transform;
}
.opened {
	z-index: var(--modal-z-index);
	opacity: 1;
	pointer-events: auto;
	.content {
		transform: scale(1);
	}
}
.closingModal {
	.content {
		transform: scale(0.3);
	}
}
