.Input {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 340px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  gap: 5px;
}

.placeholder {
}

input {
  width: 100%;
  color: transparent !important;
  text-shadow: 0 0 0 var(--primary-color);
}

.caret_wrapper {
  flex-grow: 1;
  position: relative;

  .caret {
    position: absolute;
    display: flex;
    height: 3px;
    width: 8px;
    background: var(--primary-color);
    bottom: 0;
    left: 0;
    animation: blink 0.7s forwards infinite;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.99;
  }
  100% {
    opacity: 0;
  }
}
